.mat-card {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    width:33%;
    margin-bottom: auto;
    border-radius: 3%;
   
 }
 .full-width{
    display: block;
    width: 100%;
 }
 .btn{
   margin-bottom: 3%;
 }
 .main-div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ABC4E4;
 }
 img{
   display: block;
   margin-left :auto;
   margin-right: auto;
   margin-bottom: 3%;
 }
 a{
  text-decoration: none;
  font-family: 'regular';
  text-align: right;
}
 sup{
  color: red;
}
// p{
//   font-family: 'regular';
//   margin-top: 10px;
// }
 