.mat-card {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    width:33%;
    margin-bottom: auto;
    border-radius: 3%;
   
 }
 .full-width{
    display: block;
    width: 100%;
 }
 .btn{
   margin-bottom: 5%;
 }
 .main-div {
    height: 100 vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 img{
   display: block;
   margin-left :auto;
   margin-right: auto;
   margin-bottom: 5%;
 }
 body{
   background-color: #ABC4E4;
   
 }
 