<div class="main-div">
    <mat-card>
        <mat-icon>lock</mat-icon>
        <h1>Forgot Password</h1>
        <p>Please enter your registered email where we will send you the reset password link</p>
        <form [formGroup]="ForgotPassword">
            <div>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Email Address</mat-label>
                    <input matInput type="text" formControlName="email">
                    <!-- [(ngModel)]="value" -->
                </mat-form-field>
            </div>
            <div class="btn">
                <button mat-raised-button class='mr-10' color='primary'>Reset Password Link</button>
            </div>
            <mat-divider></mat-divider>
            <!-- <div class="card-footer text-right">
            Ohh I remember<a [routerLink]="['../login']">back to login</a>
          </div> -->

        </form>
        <div class="card-footer text-right">
            Ohh I remember <a [routerLink]="['../login']">back to login</a>
        </div>
    </mat-card>
</div>