<ng-container *ngIf="loadingRouteConfig">
    <div class="loading-overlay is-active">
        <span class="signal"></span>
    </div>
</ng-container>

<div class=" row output">
    <div col-md-12>
    <form [formGroup]="ForgotPassword">
        <mat-card>
            <div class="container-fluid logo_outer">
                <a class="logo">
                    <img src="../../../assets/images/arcelorMittal_logo.png" alt="logo" />
                </a>
            </div>
            <p> Enter your registered email</p>

            <div class="col-md-12">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label></mat-label>
                    <input matInput type="text" formControlName="email">
                </mat-form-field>
            </div>

            <div class="btn">
                <button mat-raised-button class='mr-10' color='primary' (click)="reset_password()">Reset
                    Password 
                </button>
            </div>
            <mat-divider></mat-divider>

            <div class="card-footer text-right">
                <a [routerLink]="['../login']">back to login</a>
            </div>
        </mat-card>
    </form>
</div>
</div>