.mat-card {
  display: block;
  text-align: center;
   margin-left: auto;
   margin-right: auto;
   margin-top:8%;
   width:33%;
   border-radius: 0%;
   height:50%;
   
 }
 .full-width{
    display: block;
    width: 100%;
 }

 .main-div {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 img{
   display: block;
   margin-left :auto;
   margin-right: auto;
   margin-bottom: 3%;
 }

 .output{
  background-color: #ABC4E4;
  height: 100%;

 }