.outside{
    margin-top:10%;
    margin-left:20%;
    margin-right:20%;
    grid-auto-columns: auto;
    box-shadow: 0px 4px 30px #bfbfbf;
}   

.form-group{
    text-align: left;
}


.bottom{
    text-align: center;
    margin-bottom: 3%;
}
label {
margin-top:1%;
}
.ng-untouched.ng-pristine.ng-valid{
    padding-top:2%;
    padding-bottom:2%;
}