@import "../../../../../assets/color.scss";

.mat-form-field {
    width: 100%;
}
.mat-column-items,
.mat-column-DIV,
.mat-column-offer_id {
    width: 60px !important;
}
.mat-column-volume,
.mat-column-incoterm {
    width: 90px !important;
}
::ng-deep.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 1em 0em 0.5em 1em !important;
}
::ng-deep.mat-form-field-wrapper {
    padding-bottom: 0.34375em !important;
}
::ng-deep .mat-form-field-infix {
    border-top: 0.4375em solid transparent;
}
::ng-deep .mat-paginator-page-size-select .mat-form-field-infix {
    padding: 0em 0em 1em 0em !important;
}
.my_offer_table_container {
    height: calc(100% - 70px);
}

.stepper-wrapper {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    // margin-bottom: 20px;
}
.stepper-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    @media (max-width: 768px) {
        font-size: 12px;
    }
}

.stepper-item::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 11px;
    left: -50%;
    z-index: 2;
}

.stepper-item::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 11px;
    left: 50%;
    z-index: 2;
}

.stepper-item .step-counter {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: $deleteBtn;
    margin-bottom: 6px;
    color: $white;
}

.stepper-item.active {
    font-weight: bold;
}

.stepper-item.completed .step-counter {
    background-color: $approve;
    color: $white;
}

.stepper-item.completed::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid $approve;
    width: 100%;
    top: 11px;
    left: 50%;
    z-index: 3;
}

.stepper-item:first-child::before {
    content: none;
}
.stepper-item:last-child::after {
    content: none;
}
::ng-deep.mat-column-pending_with {
    width: 220px !important;
}
