<div class="sidebar" [class.sidebar_open]="isOpen">
    <button (click)="isOpen = !isOpen" class="sidebar_toggler">
        <i class="fa fa-bars" aria-hidden="true" *ngIf="isOpen"></i>
        <i class="fas fa-times" *ngIf="!isOpen"></i>
    </button>
    <div class="">
        <div class="container-fluid logo_outer">
            <a class="logo">
                <img src="../../../assets/images/arcelorMittal_logo.png" />
            </a>
        </div>
    </div>

    <div class="content">
        <div class="line"></div>
        <div class="items" routerLink="/my-task" [routerLinkActive]="['active']">
            <div class="img">
                <img class="active_img" src="../../../assets/images/offer.png " />
                <img class="inactive_img" src="../../../assets/images/offer 2.png " />
            </div>
            My Task
        </div>
        <div class="line"></div>
        <div class="items" routerLink="/my-offers" [routerLinkActive]="['active']">
            <div class="img">
                <img class="active_img" src="../../../assets/images/offer.png " />
                <img class="inactive_img" src="../../../assets/images/offer 2.png " />
            </div>
            My Offers
        </div>
        <div class="line"></div>
       <div class="sub_menu_con">
            <div class="items" >
                <div class="img">
                    <img class="active_img" src="../../../assets/images/order.png" />
                    <img class="inactive_img" src="../../../assets/images/order 2.png" />
                </div>
                My Order Book
            </div>
            <div class="sub items" routerLink="/orders/stock" [routerLinkActive]="['active']">
               
                <span class="sub_hyphen"><i class="fa fa-minus" aria-hidden="true"></i></span>
                From Stock
            </div>
            <div class="sub items" routerLink="/orders/rolling" [routerLinkActive]="['active']">
               
                <span class="sub_hyphen"><i class="fa fa-minus" aria-hidden="true"></i></span>
                From Rolling
            </div>
        </div>
    </div>
</div>
<div class="main_container_content" [class.main_container_content_toggled]="isOpen">
    <app-header></app-header>
    <router-outlet></router-outlet>

    <!-- <app-footer></app-footer> -->
</div>