<div class="sidebar" [class.sidebar_open]="isOpen">
    <button (click)="isOpen = !isOpen" class="sidebar_toggler">
        <i class="fa fa-bars" aria-hidden="true" *ngIf="isOpen"></i>
        <i class="fas fa-times" *ngIf="!isOpen"></i>
    </button>
    <div class="">
        <div class="container-fluid logo_outer">
            <a class="logo">
                <img src="../../../assets/images/arcelorMittal_logo.png" />
            </a>
        </div>
    </div>

    <div class="content">
        <div class="line"></div>
        <ul class="nav flex-column flex-nowrap overflow-hidden">
            <li class="nav-item" [routerLinkActive]="['active']">
                <div class="sub_menu_con">
                    <div class=" items nav-link collapsed text-truncate" data-toggle="collapse" data-target="#submenu1">
                        <img class="active_img" src="../../../assets/images/order.png" />
                        <img class="inactive_img" src="../../../assets/images/order 2.png" /> <span
                            class="d-none d-sm-inline">Alloy & Scrap</span>
                    </div>
                </div>
                <div class="collapse" id="submenu1" aria-expanded="false">
                    <ul class="flex-column pl-2 nav">
                        <li class="nav-item">
                            <div class="sub items" [routerLink]="['/alloy-scrap/upload']" [routerLinkActive]="['active']">
                                <span class="sub_hyphen"><i class="fa fa-file" aria-hidden="true"></i></span>
                                Upload Files
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="sub items" [routerLink]="['/alloy-scrap/history']" [routerLinkActive]="['active']">
                                <span class="sub_hyphen"><i class="fa fa-history" aria-hidden="true"></i></span>
                                History
                            </div>
                        </li>
                    </ul>
                </div>
            </li>

            <div class="line"></div>
            <li class="nav-item">
                <div class="sub_menu_con">
                    <div class=" items nav-link collapsed text-truncate" data-toggle="collapse" data-target="#smbmenu1">
                        <img class="active_img" src="/assets/images/offer.png " />
                        <img class="inactive_img" src="/assets/images/offer 2.png " />
                        <span class="d-none d-sm-inline">SMB </span>
                    </div>
                </div>
                <div class="collapse" id="smbmenu1" aria-expanded="false">
                    <ul class="flex-column pl-2 nav">
                        <li class="nav-item">
                            <div class="sub_menu_con">
                                <div class=" items nav-link collapsed text-truncate" data-toggle="collapse"
                                    data-target="#smbmenu11">
                                    <img class="active_img" src="/assets/images/offer.png " />
                                    <img class="inactive_img" src="/assets/images/offer 2.png " />
                                    <span class="d-none d-sm-inline">Base Price Addition </span>
                                </div>
                            </div>
                            <div class="collapse" id="smbmenu11" aria-expanded="false">
                                <ul class="flex-column pl-2 nav">
                                    <li class="nav-item">
                                        <div class="sub items" 
                                            [routerLinkActive]="['active']">
                                            <span class="sub_hyphen">
                                                <i class="fa fa-file" aria-hidden="true"></i>
                                            </span>
                                            Upload
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <div class="sub items" 
                                            [routerLinkActive]="['active']">
                                            <span class="sub_hyphen">
                                                <i class="fa fa-history" aria-hidden="true"></i>
                                            </span>
                                            History
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <ul class="flex-column pl-2 nav">
                        <li class="nav-item">
                            <div class="sub_menu_con">
                                <div class=" items nav-link collapsed text-truncate" data-toggle="collapse"
                                    data-target="#smbmenu12">
                                    <img class="active_img" src="/assets/images/offer.png " />
                                    <img class="inactive_img" src="/assets/images/offer 2.png " />
                                    <span class="d-none d-sm-inline">Extra Certificate </span>
                                </div>
                            </div>
                            <div class="collapse" id="smbmenu12" aria-expanded="false">
                                <ul class="flex-column pl-2 nav">
                                    <li class="nav-item">
                                        <div class="sub items" 
                                            [routerLinkActive]="['active']">
                                            <span class="sub_hyphen">
                                                <i class="fa fa-file" aria-hidden="true"></i>
                                            </span>
                                            Upload
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <div class="sub items" 
                                            [routerLinkActive]="['active']">
                                            <span class="sub_hyphen">
                                                <i class="fa fa-history" aria-hidden="true"></i>
                                            </span>
                                            History
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <ul class="flex-column pl-2 nav">
                        <li class="nav-item">
                            <div class="sub_menu_con">
                                <div class=" items nav-link collapsed text-truncate" data-toggle="collapse"
                                    data-target="#smbmenu13">
                                    <img class="active_img" src="/assets/images/offer.png " />
                                    <img class="inactive_img" src="/assets/images/offer 2.png " />
                                    <span class="d-none d-sm-inline">Extra Delivery Maill </span>
                                </div>
                            </div>
                            <div class="collapse" id="smbmenu13" aria-expanded="false">
                                <ul class="flex-column pl-2 nav">
                                    <li class="nav-item">
                                        <div class="sub items" 
                                            [routerLinkActive]="['active']">
                                            <span class="sub_hyphen">
                                                <i class="fa fa-file" aria-hidden="true"></i>
                                            </span>
                                            Upload
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <div class="sub items" 
                                            [routerLinkActive]="['active']">
                                            <span class="sub_hyphen">
                                                <i class="fa fa-history" aria-hidden="true"></i>
                                            </span>
                                            History
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <ul class="flex-column pl-2 nav">
                        <li class="nav-item">
                            <div class="sub_menu_con">
                                <div class=" items nav-link collapsed text-truncate" data-toggle="collapse"
                                    data-target="#smbmenu14">
                                    <img class="active_img" src="/assets/images/offer.png " />
                                    <img class="inactive_img" src="/assets/images/offer 2.png " />
                                    <span class="d-none d-sm-inline">Extra Freight Parity </span>
                                </div>
                            </div>
                            <div class="collapse" id="smbmenu14" aria-expanded="false">
                                <ul class="flex-column pl-2 nav">
                                    <li class="nav-item">
                                        <div class="sub items" 
                                            [routerLinkActive]="['active']">
                                            <span class="sub_hyphen">
                                                <i class="fa fa-file" aria-hidden="true"></i>
                                            </span>
                                            Upload
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <div class="sub items" 
                                            [routerLinkActive]="['active']">
                                            <span class="sub_hyphen">
                                                <i class="fa fa-history" aria-hidden="true"></i>
                                            </span>
                                            History
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <div class="line"></div>
            <li class="nav-item">
                <div class="sub_menu_con">
                    <div class=" items nav-link collapsed text-truncate" data-toggle="collapse" data-target="#subminbarmenu1">
                        <img class="active_img" src="/assets/images/offer.png " />
                        <img class="inactive_img" src="/assets/images/offer 2.png " />
                        <span class="d-none d-sm-inline">SMB Mini Bar</span>
                    </div>
                </div>
                <div class="collapse" id="subminbarmenu1" aria-expanded="false">
                    <ul class="flex-column pl-2 nav">
                        <li class="nav-item">
                            <div class="sub_menu_con">
                                <div class=" items nav-link collapsed text-truncate" data-toggle="collapse"
                                    data-target="#subminbarmenu11">
                                    <img class="active_img" src="/assets/images/offer.png " />
                                    <img class="inactive_img" src="/assets/images/offer 2.png " />
                                    <span class="d-none d-sm-inline">Base Price Addition </span>
                                </div>
                            </div>
                            <div class="collapse" id="subminbarmenu11" aria-expanded="false">
                                <ul class="flex-column pl-2 nav">
                                    <li class="nav-item">
                                        <div class="sub items" 
                                            [routerLinkActive]="['active']">
                                            <span class="sub_hyphen">
                                                <i class="fa fa-file" aria-hidden="true"></i>
                                            </span>
                                            Upload
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <div class="sub items" 
                                            [routerLinkActive]="['active']">
                                            <span class="sub_hyphen">
                                                <i class="fa fa-history" aria-hidden="true"></i>
                                            </span>
                                            History
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <ul class="flex-column pl-2 nav">
                        <li class="nav-item">
                            <div class="sub_menu_con">
                                <div class=" items nav-link collapsed text-truncate" data-toggle="collapse"
                                    data-target="#subminbarmenu12">
                                    <img class="active_img" src="/assets/images/offer.png " />
                                    <img class="inactive_img" src="/assets/images/offer 2.png " />
                                    <span class="d-none d-sm-inline">Extra Certificate </span>
                                </div>
                            </div>
                            <div class="collapse" id="subminbarmenu12" aria-expanded="false">
                                <ul class="flex-column pl-2 nav">
                                    <li class="nav-item">
                                        <div class="sub items" 
                                            [routerLinkActive]="['active']">
                                            <span class="sub_hyphen">
                                                <i class="fa fa-file" aria-hidden="true"></i>
                                            </span>
                                            Upload
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <div class="sub items" 
                                            [routerLinkActive]="['active']">
                                            <span class="sub_hyphen">
                                                <i class="fa fa-history" aria-hidden="true"></i>
                                            </span>
                                            History
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <ul class="flex-column pl-2 nav">
                        <li class="nav-item">
                            <div class="sub_menu_con">
                                <div class=" items nav-link collapsed text-truncate" data-toggle="collapse"
                                    data-target="#subminbarmenu13">
                                    <img class="active_img" src="/assets/images/offer.png " />
                                    <img class="inactive_img" src="/assets/images/offer 2.png " />
                                    <span class="d-none d-sm-inline">Extra Delivery Maill </span>
                                </div>
                            </div>
                            <div class="collapse" id="subminbarmenu13" aria-expanded="false">
                                <ul class="flex-column pl-2 nav">
                                    <li class="nav-item">
                                        <div class="sub items" 
                                            [routerLinkActive]="['active']">
                                            <span class="sub_hyphen">
                                                <i class="fa fa-file" aria-hidden="true"></i>
                                            </span>
                                            Upload
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <div class="sub items" 
                                            [routerLinkActive]="['active']">
                                            <span class="sub_hyphen">
                                                <i class="fa fa-history" aria-hidden="true"></i>
                                            </span>
                                            History
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <ul class="flex-column pl-2 nav">
                        <li class="nav-item">
                            <div class="sub_menu_con">
                                <div class=" items nav-link collapsed text-truncate" data-toggle="collapse"
                                    data-target="#subminbarmenu14">
                                    <img class="active_img" src="/assets/images/offer.png " />
                                    <img class="inactive_img" src="/assets/images/offer 2.png " />
                                    <span class="d-none d-sm-inline">Extra Freight Parity </span>
                                </div>
                            </div>
                            <div class="collapse" id="subminbarmenu14" aria-expanded="false">
                                <ul class="flex-column pl-2 nav">
                                    <li class="nav-item">
                                        <div class="sub items" 
                                            [routerLinkActive]="['active']">
                                            <span class="sub_hyphen">
                                                <i class="fa fa-file" aria-hidden="true"></i>
                                            </span>
                                            Upload
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <div class="sub items" 
                                            [routerLinkActive]="['active']">
                                            <span class="sub_hyphen">
                                                <i class="fa fa-history" aria-hidden="true"></i>
                                            </span>
                                            History
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="main_container_content" [class.main_container_content_toggled]="isOpen">
    <app-header></app-header>
    <div style="margin-top: 65px;"></div>
    <router-outlet></router-outlet>
    <!-- <app-footer></app-footer> -->
</div>