<ng-container *ngIf="loadingRouteConfig">
    <div class="loading-overlay is-active">
        <span class="signal"></span>
    </div>
</ng-container>
<form>
    <div class="container">
        <div class="row">
            <div class="col-md-2 text-right">
                <mat-label>Group Code:</mat-label>
            </div>
            <div class="col-md-10 text-left mt-10">
                <mat-form-field appearance="outline">
                    <mat-label>Group Code</mat-label>
                    <input matInput formControlName="groupCode">
                </mat-form-field>
            </div>

        </div>

        <div class="row">
            <div class="col-md-2 text-right">
                <mat-label>Group Description:</mat-label>
            </div>
            <div class="col-md-10 text-left">
                <mat-form-field appearance="outline">
                    <mat-label>Group Description</mat-label>
                    <input matInput formControlName="groupDescription">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 text-right">
                <mat-label>Group Access:</mat-label>
            </div>
            <div class="col-md-10 text-left">
                <mat-form-field appearance="outline">
                    <mat-label>Group Access</mat-label>
                    <mat-select [(value)]="selected" (change)='check()'>
                        <mat-option *ngFor="let item of resultdata" [value]="item.groupAccess">
                            {{item.groupAccess}}

                        </mat-option>
                    </mat-select>

                </mat-form-field>

            
                <div *ngIf='selected; else sample'>

                    <mat-form-field class="example-form-field">
                        <input matInput type="text" value={{selected}} readonly="readonly">
                        <button matSuffix mat-icon-button aria-label="Clear" (click)="del()">
                          <mat-icon>close</mat-icon>
                        </button>
                      </mat-form-field>
                </div>

                <ng-template #sample>
                    
                </ng-template>
            </div>

        </div>

    </div>
</form>


  
  