<ng-container *ngIf="loadingRouteConfig">
    <div class="loading-overlay is-active">
        <span class="signal"></span>
    </div>
</ng-container>
<form>
    <div class="container">
        <div class="row">
            <div class="col-md-3 ">
                <mat-label>Group Code:</mat-label>
            </div>
            <div class="col-md-9">
                <mat-form-field appearance="outline">
                    <mat-label>Group Code</mat-label>
                    <input matInput formControlName="groupCode">
                </mat-form-field>
            </div>

        </div>

        <div class="row">
            <div class="col-md-3">
                <mat-label>Group Description:</mat-label>
            </div>
            <div class="col-md-9">
                <mat-form-field appearance="outline">
                    <mat-label>Group Description</mat-label>
                    <input matInput formControlName="groupDescription">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <mat-label>Group Access:</mat-label>
            </div>
            <div class="col-md-9">
                <mat-form-field appearance="outline">
                    <mat-label>Group Access</mat-label>
                    <mat-select [(value)]="selected">
                        <mat-option *ngFor="let item of resultdata" [value]="item.groupAccess">
                            {{item.groupAccess}}

                        </mat-option>
                    </mat-select>

                </mat-form-field>
                <div>
                    <div class='row'>
                        <input matInput value={{selected}}>
                        <mat-icon (click)=del()>clear</mat-icon>
                    </div>
                    <!-- <button mat-stroked-button (click)="openSnackBar()" aria-label="Show an example snack-bar">
                    open
                  </button> -->
                </div>
            </div>

        </div>

    </div>
</form>