mat-form-field {
    width: 70%;
  }
.row{
  align-items: baseline;
}
mat-label {
  display: inline-block;
  width:100px;
  text-align: left;
}
.example-form-field{
  padding:none;
  margin: none;
  width:70%;
 

  
}


.outer{
  margin-top:0% !important;
  margin-left: 20%;
  margin-right: 15%;
  // box-shadow: 5px 10px 20px #888888;
}