<!-- Horizontal material form -->
<form>
    <!-- Grid row -->
    <div class="form-group row">
        <!-- Material input -->
        <label class="col-sm-2 col-form-label">Group Code</label>
        <div class="col-sm-10">
            <div class="md-form mt-0">
                <input matInput class="form-control" placeholder="Group Code">
            </div>
        </div>
    </div>
    <!-- Grid row -->

    <!-- Grid row -->
    <div class="form-group row">
        <!-- Material input -->
        <label class="col-sm-2 col-form-label">Group Discription</label>
        <div class="col-sm-10">
            <div class="md-form mt-0">
                <input matInput class="form-control" placeholder="Group Discription">
            </div>
        </div>
    </div>
    <!-- Grid row -->

    <!-- Grid row -->
    <div class="form-group row">
        <!-- Material input -->
        <label class="col-sm-2 col-form-label">Group Discription</label>
        <div class="col-sm-10">
            <div class="md-form mt-0">

            </div>
        </div>
    </div>
    <!-- Grid row -->
</form>
<!-- Horizontal material form -->