<ng-container *ngIf="loadingRouteConfig">
    <div class="loading-overlay is-active">
        <span class="signal"></span>
    </div>
</ng-container>
<div>
    <div class="row">
        <div class="col-8">
            <div class="text-left mt-10">
                <button type="button" color="primary" class="mr-10" mat-raised-button (click)="actionClicked('','add')">
                    <i class="fa fa-plus-circle"></i> Profile
                </button>
                <button type="button" color="primary" class="mr-10" mat-raised-button (click)="uploadByXlFile()">
                    <i class="fa fa-upload"></i> Profile
                </button>
                <button type="button" color="primary"  class="mr-10" mat-raised-button (click)="downloadInXlFile()">
                    <i class="fa fa-download"></i> Profile
                </button>
                <button type="button" color="primary" mat-raised-button (click)="actionClicked('all','delete')">
                    <i class="fa fa-trash"></i> Profile
                </button>
            </div>
        </div>
        <div class="col-4">
            <div class="text-right mt-10">
                <mat-form-field appearance="outline">
                    <mat-label>Search</mat-label>
                    <input matInput [(ngModel)]="searchValue" (keyup.enter)="applyFilter('search')">
                    <mat-icon matSuffix (click)="applyFilter('search')" class="pointer">search</mat-icon>
                </mat-form-field>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <div class="my_offer_table_container">
                    <div class="text-center ">
                        <div class="table-outer-container offer_table_container position-relative ">
                            <div class="table-inner-container  hc example-container mat-elevation-z8">
                                <table mat-table [dataSource]="dataSource" >

                                    <ng-container matColumnDef="select">
                                        <th mat-header-cell *matHeaderCellDef>
                                            <mat-checkbox (change)="$event ? masterToggle() : null"
                                                [checked]="selection.hasValue() && isAllSelected()"
                                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                                [aria-label]="checkboxLabel()">
                                            </mat-checkbox>
                                        </th>
                                        <td mat-cell *matCellDef="let row">
                                            <mat-checkbox (click)="$event.stopPropagation()"
                                                (change)="$event ? selection.toggle(row) : null"
                                                [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                                            </mat-checkbox>
                                        </td>
                                    </ng-container>
    
                                    <ng-container matColumnDef="sequence_id">
                                        <th mat-header-cell *matHeaderCellDef> Sequence ID </th>
                                        <td mat-cell *matCellDef="let row"> {{row?.sequence_id}} </td>
                                    </ng-container>
    
                                    <ng-container matColumnDef="BusinessCode">
                                        <th mat-header-cell *matHeaderCellDef > Business Code </th>
                                        <td mat-cell *matCellDef="let row"> {{row.BusinessCode}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Product_Level_02">
                                        <th mat-header-cell *matHeaderCellDef > Product Level 02 </th>
                                        <td mat-cell *matCellDef="let row"> {{row.Product_Level_02}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Product_Level_04">
                                        <th mat-header-cell *matHeaderCellDef > Product Level 04 </th>
                                        <td mat-cell *matCellDef="let row"> {{row.Product_Level_04}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Product_Level_05">
                                        <th mat-header-cell *matHeaderCellDef > Product Level 05 </th>
                                        <td mat-cell *matCellDef="let row"> {{row.Product_Level_05}} </td>
                                    </ng-container>


                                    <ng-container matColumnDef="Delivering_Mill">
                                        <th mat-header-cell *matHeaderCellDef > Delivering Mill </th>
                                        <td mat-cell *matCellDef="let row"> {{row.Delivering_Mill}} </td>
                                    </ng-container>

                                    <div *ngIf="url[3]!='mini-bar'; else mini_bar">
                                        <ng-container matColumnDef="Product_Division">
                                            <th mat-header-cell *matHeaderCellDef > Product Division
                                            </th>
                                            <td mat-cell *matCellDef="let row"> {{row.Product_Division}} </td>
                                        </ng-container>
                                    </div>
                                    <ng-template #mini_bar>

                                        <!-- <ng-container matColumnDef="Market_Customer">
                                            <th mat-header-cell *matHeaderCellDef > Market - Customer
                                            </th>
                                            <td mat-cell *matCellDef="let row"> {{row.Market_Customer}} </td>
                                        </ng-container> -->
                                        <ng-container matColumnDef="Customer_Group">
                                            <th mat-header-cell *matHeaderCellDef > Customer Group </th>
                                            <td mat-cell *matCellDef="let row"> {{row.Customer_Group}} </td>
                                        </ng-container>
                                    </ng-template>
                                    <ng-container matColumnDef="Market_Country">
                                        <th mat-header-cell *matHeaderCellDef >Market Country </th>
                                        <td mat-cell *matCellDef="let row"> {{row.Market_Country}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Document_Item_Currency">
                                        <th mat-header-cell *matHeaderCellDef > Doc Item Currency </th>
                                        <td mat-cell *matCellDef="let row"> {{row.Document_Item_Currency}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Amount">
                                        <th mat-header-cell *matHeaderCellDef > Amount </th>
                                        <td mat-cell *matCellDef="let row"> {{row.Amount}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Currency">
                                        <th mat-header-cell *matHeaderCellDef > Currency </th>
                                        <td mat-cell *matCellDef="let row"> {{row.Currency}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef> Action </th>
                                        <td mat-cell *matCellDef="let row">
                                            <mat-icon class="mr-10" (click)="actionClicked(row,'edit')">edit</mat-icon>
                                            <mat-icon class="mr-10" (click)="actionClicked(row,'delete')">delete
                                            </mat-icon>

                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns ;sticky: true"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                                    <tr class="mat-row" *matNoDataRow>
                                        <td class="mat-cell" colspan="4">No data matching the filter "{{searchValue}}"
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <mat-paginator [length]="totalCount" [pageSize]="500"
                                [pageSizeOptions]="[500,1000,1500,2000]" #paginators
                                (page)="pageEvent = pageChangeCall($event)">
                            </mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>