.navhead {
    text-align: center;
    width: 100%;
}

.mat-toolbar {
    background: rgb(248, 171, 28);
}
.header {
    box-shadow: 0px 0px 6px 0px #f05b31;
    padding: 0px;
    background: #f05b31;
    height: 60px;
    left: 0px;
    right: 0;
    position: fixed;
    z-index: 1000;
    color: white;
}

.name{
    font-weight: 400;
    font-size: x-large;
}
button{
    float:right;
    size: 0px;
    
}
.mat-menu-content.ng-tns-c45-0{
    padding:40px;
}