<ng-container *ngIf="loadingRouteConfig">
    <div class="loading-overlay is-active">
        <span class="signal"></span>
    </div>
</ng-container>
<div class="pd-card">
    <span *ngIf="data.fieldValue.length>0">
        <form [formGroup]="updateRecord">
            <div class="row">
                <div class="col-12" *ngFor="let form of data?.fieldValue">
                    <mat-form-field appearance="outline">
                        <mat-label>{{removeUnderScore(form)}}</mat-label>
                        <input *ngIf="form!='Unit'" matInput type="text" formControlName="{{form}}" required>
                        <input *ngIf="form=='Unit'" matInput type="text" formControlName="{{form}}" readonly >
                    </mat-form-field>
                </div>
            </div>
        </form>
    </span>

    <div class=" text-right">
        <button mat-stroked-button class="mr-10" (click)="closeModel()">
            Close
        </button>
        <button mat-raised-button color="primary" [disabled]="updateRecord.invalid" cdkFocusInitial (click)="editRecord()">
            Update
        </button>
    </div>
</div>