
.mat-card {
  max-width: 600px;
  margin: 6em auto;
  text-align: center;
  max-height: 600px;
}


.full-width{
  width:80%;
}
mat-label {
    display: inline-block;
    width:100px;
    text-align: left;
  }
  img{
    margin-bottom: 5%;
  }