<body>
  <div class="main-div">

<mat-card>
  <div class="container-fluid logo_outer">
    <a class="logo">
      <img src="../../../assets/images/arcelorMittal_logo.png" alt="logo" />
    </a>
  </div>
  <mat-card-content>
    <form [formGroup]="login" (submit)="loginSubmit(login.value)">
      <div class='email-input'>
        <mat-label>Email:</mat-label>
        <mat-form-field class="full-width" appearance="outline">
          <input matInput type="email" formControlName="email" >
          <!-- [(ngModel)]="value" -->
        </mat-form-field>
      </div>

      <div>
        <mat-label>Password:</mat-label>
        <mat-form-field class="full-width" appearance="outline">
          <input matInput [type]="hide ? 'password':'text'" formControlName="password" >
          <mat-icon type="button" matSuffix (click)="hide=!hide">
            {{hide?'visibility_off':'visibility'}}
          </mat-icon>
          <!-- [(ngModel)]="value" -->
        </mat-form-field>

      </div>
      <div>
        <button mat-raised-button class='mr-10' color='primary'>Login</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

</div>
</body>