@import '../../../assets/color.scss';
.mat-card {
   display: block;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   margin-top: 8%;
   width:40%;
   margin-bottom: auto;
   border-radius: 2%;
  
}

.full-width{
  display: block;
  width: 100%;
 
}

mat-label {
    display: inline-block;
    margin-right: 100%;
    text-align: start !important;
    font-weight:7%;
    font-size:medium;
    
  }
  img{
    display: block;
    margin-left :auto;
    margin-right: auto;
    margin-bottom: 4%;
  }
  
  .main-div {
    height: 100 vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .main-div{
   background-color: #ABC4E4;
 }
 body{
  background-color: #ABC4E4;
}