@import '../../../assets/color.scss';
.mat-card {
   display: block;
  text-align: center;
   margin-left: auto;
   margin-right: auto;
   margin-top:0%;
   width:33%;
   border-radius: 0%;
   height:50%;
  //  padding-top:10%;
}

.full-width{
  display: block;
  // width: 100%;
 
}

mat-label {
    display: inline-block;
    margin-right: 100%;
    text-align: start !important;
    font-weight:10%;
    font-size:medium;
    
  }
  img{
    display: block;
    margin-left :auto;
    margin-right: auto;
    margin-bottom: 4%;
  }
  
//   .container {
//     height: 100 vh;
//     display: flex;
//     justify-content:center;
//     align-items: center;
//  }
//  .main-div{
//    background-color: #ABC4E4;
//  }
 .output{
  background-color: #ABC4E4;
  height:100%;
  
}
