<div>
  <mat-card >
    <form [formGroup]="login">
      <div>
        <mat-label>Email:</mat-label>
        <mat-form-field appearance="outline">
          <input matInput type="text" formControlName="email">
          <!-- [(ngModel)]="value" -->
        </mat-form-field>
      </div>

      <div>
        <mat-label>Password:</mat-label>
        <mat-form-field appearance="outline">
          <input matInput type="password" formControlName="password">
          <!-- [(ngModel)]="value" -->
        </mat-form-field>

      </div>
      <div>
        <button mat-stroked-button (click)="loginSubmit(login.value)" [disabled]="login.invalid">Submit</button>
      </div>
    </form>
  </mat-card>
</div>