.mat-table{
    border:1.1px solid rgb(166, 163, 163) !important;
    .mat-row{
        border:1.1px solid rgb(186, 182, 182) !important;
    }
    td{
        border:1.1px solid rgb(168, 165, 165) !important;
    }
    .mat-header-cell{
        border:1.1px solid rgb(166, 164, 164) !important;
    }
}