<ng-container *ngIf="loadingRouteConfig">
    <div class="loading-overlay is-active">
        <span class="signal"></span>
    </div>
</ng-container>

<div *ngIf="breadCrumblocationsList" class="breadcrumb">
    <div class="row pd-10 bg-w">
        <div class="col-sm-12 col-lg-12 col-md-12 col-xl-12">

            <font *ngFor="let data of breadCrumblocationsList" class="addArrow">

                <a role="button"
                    [ngClass]="{'breadCrumbBlue addArroww': data?.currentPage === true, 'breadCrumb addArroww':data?.currentPage === false }"
                    (click)="redirect(data.link)">
                    {{data.locationName}}
                </a>
            </font>
        </div>
    </div>
</div>
<div *ngIf="(this.resultData?.data?.length != 0 && this.resultData?.data?.length != undefined && (flag=='add' || flag=='update'))">
    <div class="row">
        <div class="col-12">
            <div class="text-right mt-10">
                <button type="button" color="primary" class="mr-10" mat-raised-button (click)="approved()">
                    <i class="fa fa-check-circle"></i> Approve
                </button>
                <button type="button" color="primary" class="mr-10" mat-raised-button (click)="reject()">
                    <i class="fa fa-times-circle"></i> Reject
                </button>
                <!-- <p class="text-center" style="font-family: semi-bold;">Updated Records</p> -->
            </div>
        </div>
        <!-- <div class="col-3">
            <div class="text-right mt-10">
                <mat-form-field appearance="outline">
                    <mat-label>Search</mat-label>
                    <input matInput [(ngModel)]="searchValue" (keyup.enter)="applyFilter('search')">
                    <mat-icon matSuffix (click)="applyFilter('search')" class="pointer">search</mat-icon>
                </mat-form-field>
            </div> 
        </div>-->
    </div>

    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <div class="my_offer_table_container">
                    <div class="text-center ">
                        <div class="table-outer-container offer_table_container position-relative ">
                            <div class="table-inner-container example-container mat-elevation-z8" style="margin-bottom:2em">
                                <table mat-table [dataSource]="dataSource">
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                    <tr mat-row style="background-color: rgb(206, 236, 194);"  *matRowDef="let row; columns: displayedColumns;"></tr>
                                    <ng-container *ngFor="let column of displayedColumns">
                                        <ng-container [matColumnDef]="column">
                                            <th mat-header-cell *matHeaderCellDef style="text-transform: capitalize;">{{
                                                removeUnderScore(column) }}</th>
                                            <td mat-cell *matCellDef="let row">{{row[column]}}</td>
                                        </ng-container>
                                    </ng-container>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="(this.resultData?.data?.length != 0 && this.resultData?.data?.length != undefined  && flag=='update')">
    <!-- <p class="text-center" style="font-family: semi-bold;">Old Records</p> -->
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <div class="my_offer_table_container">
                    <div class="text-center ">
                        <div class="table-outer-container offer_table_container position-relative ">
                            <div class="table-inner-container  example-container mat-elevation-z8">
                                <table mat-table [dataSource]="old_dataSource">
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                    <tr mat-row style="background-color: rgb(254, 223, 223);" *matRowDef="let row; columns: displayedColumns;"></tr>
                                    <ng-container *ngFor="let column of displayedColumns">
                                        <ng-container [matColumnDef]="column">
                                            <th mat-header-cell *matHeaderCellDef style="text-transform: capitalize;">{{
                                                removeUnderScore(column) }}</th>
                                            <td mat-cell *matCellDef="let row">{{row[column]}}</td>
                                        </ng-container>
                                    </ng-container>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="(this.resultData?.data?.length != 0 && this.resultData?.data?.length != undefined  && flag=='delete')">
    <div class="row">
        <div class="col-12">
            <div class="text-right mt-10">
                <button type="button" color="primary" class="mr-10" mat-raised-button (click)="approved()">
                    <i class="fa fa-check-circle"></i> Approve
                </button>
                <button type="button" color="primary" class="mr-10" mat-raised-button (click)="reject()">
                    <i class="fa fa-times-circle"></i> Reject
                </button>
                <!-- <p class="text-center" style="font-family: semi-bold;">Updated Records</p> -->
            </div>
        </div>
        <!-- <div class="col-3">
            <div class="text-right mt-10">
                <mat-form-field appearance="outline">
                    <mat-label>Search</mat-label>
                    <input matInput [(ngModel)]="searchValue" (keyup.enter)="applyFilter('search')">
                    <mat-icon matSuffix (click)="applyFilter('search')" class="pointer">search</mat-icon>
                </mat-form-field>
            </div> 
        </div>-->
    </div>
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <div class="my_offer_table_container">
                    <div class="text-center ">
                        <div class="table-outer-container offer_table_container position-relative ">
                            <div class="table-inner-container  example-container mat-elevation-z8">
                                <table mat-table [dataSource]="dataSource">
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                    <tr mat-row style="background-color: rgb(254, 223, 223);" *matRowDef="let row; columns: displayedColumns;"></tr>
                                    <ng-container *ngFor="let column of displayedColumns">
                                        <ng-container [matColumnDef]="column">
                                            <th mat-header-cell *matHeaderCellDef style="text-transform: capitalize;">{{
                                                removeUnderScore(column) }}</th>
                                            <td mat-cell *matCellDef="let row">{{row[column]}}</td>
                                        </ng-container>
                                    </ng-container>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="(this.resultData?.data?.length === 0 || this.resultData?.data?.length === undefined)">
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <p>No Record Found !!</p>
            </div>
        </div>
    </div>
</div>


