<ng-container *ngIf="loadingRouteConfig">
    <div class="loading-overlay is-active">
        <span class="signal"></span>
    </div>
</ng-container>
<div class="pd-card">
    <form [formGroup]="updateRecord">
        <div class="row">
            <div *ngIf="this.data?.type === 'miniBar';else sample">


                


                <div class="w-50" *ngIf="!(
                    (data?.fileName==='delivery_mill') || 
                    (data?.fileName==='freight_parity') || 
                    (data?.fileName==='length_logistic') ||
                    (data?.fileName==='transport_mode') 
                )">
                    <mat-form-field appearance="outline">
                        <mat-label>Business Code</mat-label>
                        <input matInput type="text" formControlName="BusinessCode">
                    </mat-form-field>
                </div>

                <div class="w-50" *ngIf="!(
                    (data?.fileName==='price_addition') || 
                    (data?.fileName==='certificate') ||
                    (data?.fileName==='grade') ||
                    (data?.fileName==='transport_mode') 
                )">
                    <mat-form-field appearance="outline">
                        <mat-label>Delivering Mill</mat-label>
                        <input matInput type="text" formControlName="Delivering_Mill">
                    </mat-form-field>
                </div>

                <div class="w-50" *ngIf="(
                    (data?.fileName==='delivery_mill') ||
                    (data?.fileName==='freight_parity') ||
                    (data?.fileName==='transport_mode') 
                )">
                    <mat-form-field appearance="outline">
                        <mat-label>Product Division</mat-label>
                        <input matInput type="text" formControlName="Product_Division">
                    </mat-form-field>
                </div>

                <div class="w-50" *ngIf="(
                    (data?.fileName==='certificate') ||
                    (data?.fileName==='price_addition') ||
                    (data?.fileName==='grade') ||
                    (data?.fileName==='length-logistic') ||
                    (data?.fileName==='length-production') ||
                    (data?.fileName==='profile') 

                    )">
                    <mat-form-field appearance="outline">
                        <mat-label>Customer Group</mat-label>
                        <input matInput type="text" formControlName="Customer_Group">
                    </mat-form-field>
                </div>
                <div class="w-50" *ngIf="(
                    (data?.fileName==='delivery_mill') ||
                    (data?.fileName==='freight_parity') ||
                    (data?.fileName==='profile_lberia_italy') ||
                    (data?.fileName==='transport_mode') 
                    )">
                    <mat-form-field appearance="outline">
                        <mat-label>Market Customer Group</mat-label>
                        <input matInput type="text" formControlName="Market_Customer_Group">
                    </mat-form-field>
                </div>
                <div class="w-50">
                    <mat-form-field appearance="outline">
                        <mat-label>Market Customer</mat-label>
                        <input matInput type="text" formControlName="Market_Customer">
                    </mat-form-field>
                </div>

                <div class="w-50" *ngIf="(
                    (data?.fileName==='certificate') ||
                    (data?.fileName==='grade') 
                    )">
                    <mat-form-field appearance="outline">
                        <mat-label>Grade Category</mat-label>
                        <input matInput type="text" formControlName="Grade_Category">
                    </mat-form-field>
                </div>

                <div class="w-50" *ngIf="(
                    (data?.fileName==='profile') ||
                    (data?.fileName==='profile_lberia_italy')
                    )">
                    <mat-form-field appearance="outline">
                        <mat-label>Product Level 02</mat-label>
                        <input matInput type="text" formControlName="Product_Level_02">
                    </mat-form-field>
                </div>

                <div class="w-50" *ngIf="(
                    (data?.fileName==='profile') 
                    )">
                    <mat-form-field appearance="outline">
                        <mat-label>Product Level 04</mat-label>
                        <input matInput type="text" formControlName="Product_Level_04">
                    </mat-form-field>
                </div>

                <div class="w-50" *ngIf="(
                    (data?.fileName==='profile') ||
                    (data?.fileName==='profile_lberia_italy')
                    )">
                    <mat-form-field appearance="outline">
                        <mat-label>Product Level 05</mat-label>
                        <input matInput type="text" formControlName="Product_Level_05">
                    </mat-form-field>
                </div>
                <div class="w-50" *ngIf="(
                    (data?.fileName==='length_logistic') ||
                    (data?.fileName==='transport_mode')
                    )">
                    <mat-form-field appearance="outline">
                        <mat-label>Transport Mode</mat-label>
                        <input matInput type="text" formControlName="Transport_Mode">
                    </mat-form-field>
                </div>
                <div class="w-50" *ngIf="(
                    (data?.fileName==='length_logistic') ||
                    (data?.fileName==='length_production')
                    )">
                    <mat-form-field appearance="outline">
                        <mat-label>Length</mat-label>
                        <input matInput type="text" formControlName="Length">
                    </mat-form-field>
                </div>

                <div class="w-50" *ngIf="(data?.fileName==='certificate')">
                    <mat-form-field appearance="outline">
                        <mat-label>Certificate</mat-label>
                        <input matInput type="text" formControlName="Certificate">
                    </mat-form-field>
                </div>

                <div class="w-50" *ngIf="(
                    (data?.fileName==='freight_parity') 
                    )">
                    <mat-form-field appearance="outline">
                        <mat-label>Zip Code Dest</mat-label>
                        <input matInput type="text" formControlName="Zip_Code_Dest">
                    </mat-form-field>
                </div>
                <div class="w-50" *ngIf="(
                    (data?.fileName==='length_logistic') ||
                    (data?.fileName==='length_production')
                    )">
                    <mat-form-field appearance="outline">
                        <mat-label>Length From</mat-label>
                        <input matInput type="text" formControlName="Length_From">
                    </mat-form-field>
                </div>
                <div class="w-50" *ngIf="(
                    (data?.fileName==='length_logistic') ||
                    (data?.fileName==='length_production')
                    )">
                    <mat-form-field appearance="outline">
                        <mat-label>Length To</mat-label>
                        <input matInput type="text" formControlName="Length_To">
                    </mat-form-field>
                </div>
            </div>
            <!-- ========================== simple design ================================= -->

            <ng-template #sample>
                <div class="w-50" *ngIf="!(
                    (data?.fileName==='freight_parity') || 
                    (data?.fileName==='length_logistic') ||
                    (data?.fileName==='incoterm_exceptions') ||
                    (data?.fileName==='transport_mode') 
                )">
                    <mat-form-field appearance="outline">
                        <mat-label>Business Code</mat-label>
                        <input matInput type="text" formControlName="BusinessCode">
                    </mat-form-field>
                </div>

                <div class="w-50" *ngIf="!(
                    (data?.fileName==='price_addition') || 
                    (data?.fileName==='grade') ||
                    (data?.fileName==='transport_mode') 
                )">
                    <mat-form-field appearance="outline">
                        <mat-label>Delivering Mill</mat-label>
                        <input matInput type="text" formControlName="Delivering_Mill">
                    </mat-form-field>
                </div>

                <div class="w-50" *ngIf="(
                    (data?.fileName==='price_addition') || 
                    (data?.fileName==='delivery_mill') ||
                    (data?.fileName==='freight_parity') ||
                    (data?.fileName==='profile') ||
                    (data?.fileName==='grade') ||
                    (data?.fileName==='transport_mode') ||
                    (data?.fileName==='incoterm_exceptions') 
                    )">
                    <mat-form-field appearance="outline">
                        <mat-label>Product Division</mat-label>
                        <input matInput type="text" formControlName="Product_Division">
                    </mat-form-field>
                </div>

                <div class="w-50" *ngIf="(
                    (data?.fileName==='certificate') ||
                    (data?.fileName==='grade') 
                    )">
                    <mat-form-field appearance="outline">
                        <mat-label>Grade Category</mat-label>
                        <input matInput type="text" formControlName="Grade_Category">
                    </mat-form-field>
                </div>
                <div class="w-50" *ngIf="(data?.fileName==='incoterm_exceptions')">
                    <mat-form-field appearance="outline">
                        <mat-label>Customer Group</mat-label>
                        <input matInput type="text" formControlName="Customer_Group">
                    </mat-form-field>
                </div>
                <div class="w-50" *ngIf="(
                    (data?.fileName==='price_addition') ||
                    (data?.fileName==='profile') ||
                    (data?.fileName==='profile_lberia_italy') 
                    )">
                    <mat-form-field appearance="outline">
                        <mat-label>Product Level 02</mat-label>
                        <input matInput type="text" formControlName="Product_Level_02">
                    </mat-form-field>
                </div>

                <div class="w-50" *ngIf="(
                    (data?.fileName==='profile') 
                    )">
                    <mat-form-field appearance="outline">
                        <mat-label>Product Level 04</mat-label>
                        <input matInput type="text" formControlName="Product_Level_04">
                    </mat-form-field>
                </div>

                <div class="w-50" *ngIf="(
                    (data?.fileName==='profile') ||
                    (data?.fileName==='profile_lberia_italy')
                    )">
                    <mat-form-field appearance="outline">
                        <mat-label>Product Level 05</mat-label>
                        <input matInput type="text" formControlName="Product_Level_05">
                    </mat-form-field>
                </div>

                <div class="w-50" *ngIf="(
                    (data?.fileName==='length_logistic') ||
                    (data?.fileName==='transport_mode')
                    )">
                    <mat-form-field appearance="outline">
                        <mat-label>Transport Mode</mat-label>
                        <input matInput type="text" formControlName="Transport_Mode">
                    </mat-form-field>
                </div>

                <div class="w-50" *ngIf="(
                    (data?.fileName==='length_logistic') ||
                    (data?.fileName==='length_production')
                    )">
                    <mat-form-field appearance="outline">
                        <mat-label>Length</mat-label>
                        <input matInput type="text" formControlName="Length">
                    </mat-form-field>
                </div>

                <div class="w-50" *ngIf="(
                    (data?.fileName==='grade') ||
                    (data?.fileName==='length_logistic') ||
                    (data?.fileName==='length_production')
                    )">
                    <mat-form-field appearance="outline">
                        <mat-label>Country_Group</mat-label>
                        <input matInput type="text" formControlName="Country_Group">
                    </mat-form-field>
                </div>

                <div class="w-50" *ngIf="(
                    (data?.fileName==='freight_parity') 
                    )">
                    <mat-form-field appearance="outline">
                        <mat-label>Zip_Code_Dest</mat-label>
                        <input matInput type="text" formControlName="Zip_Code_Dest">
                    </mat-form-field>
                </div>

                <div class="w-50" *ngIf="(
                    (data?.fileName==='certificate') 
                    )">
                    <mat-form-field appearance="outline">
                        <mat-label>Certificate</mat-label>
                        <input matInput type="text" formControlName="Certificate">
                    </mat-form-field>
                </div>

                <div class="w-50" *ngIf="(
                    (data?.fileName==='delivery_mill') ||
                    (data?.fileName==='incoterm_exceptions') || (data?.filename=='price_addition')
                    )">
                    <mat-form-field appearance="outline">
                        <mat-label>Beam Category</mat-label>
                        <input matInput type="text" formControlName="Beam_Category">
                    </mat-form-field>
                </div>
                <div class="w-50" *ngIf="(data?.fileName==='incoterm_exceptions')">
                    <mat-form-field appearance="outline">
                        <mat-label>incoterm1</mat-label>
                        <input matInput type="text" formControlName="Incoterm1">
                    </mat-form-field>
                </div>
                <div class="w-50" *ngIf="(
                    (data?.fileName==='length_logistic') ||
                    (data?.fileName==='length_production')
                    )">
                    <mat-form-field appearance="outline">
                        <mat-label>Length From</mat-label>
                        <input matInput type="text" formControlName="Length_From">
                    </mat-form-field>
                </div>
                <div class="w-50" *ngIf="(
                    (data?.fileName==='length_logistic') ||
                    (data?.fileName==='length_production')
                    )">
                    <mat-form-field appearance="outline">
                        <mat-label>Length To</mat-label>
                        <input matInput type="text" formControlName="Length_To">
                    </mat-form-field>
                </div>
            </ng-template>

            <!--=====================================simple design end ===============================  -->

            <!-- ====================================common for  all   =================================-->
            <div>

                <div class="w-50">
                    <mat-form-field appearance="outline">
                        <mat-label>Document Item Currency</mat-label>
                        <input matInput type="text" formControlName="Document_Item_Currency">
                    </mat-form-field>
                </div>

                <div class="w-50">
                    <mat-form-field appearance="outline">
                        <mat-label>Market Country</mat-label>
                        <input matInput type="text" formControlName="Market_Country">
                    </mat-form-field>
                </div>

                <div class="w-50">
                    <mat-form-field appearance="outline">
                        <mat-label>Currency</mat-label>
                        <input matInput type="text" formControlName="Currency">
                    </mat-form-field>
                </div>

                <div class="w-50">
                    <mat-form-field appearance="outline">
                        <mat-label>Amount</mat-label>
                        <input matInput type="text" formControlName="Amount">
                    </mat-form-field>
                </div>
            </div>

        </div>
    </form>
    <div class=" text-right">
        <button mat-stroked-button class="mr-10" (click)="closeModel()">
            Close
        </button>
        <button mat-raised-button color="primary" (click)="addRecord()">
            Add
            <span *ngIf="data.fileName.split('_').length===1" style="text-transform: capitalize;">
                {{data.fileName.split('_')[0]}}
            </span>
            <span *ngIf="data.fileName.split('_').length===2" style="text-transform: capitalize;">
                {{data.fileName.split('_')[0] +' '+ data.fileName.split('_')[1]}}
            </span>
            <span *ngIf="data.fileName.split('_').length===3" style="text-transform: capitalize;">
                {{data.fileName.split('_')[0] +' '+ data.fileName.split('_')[1] +' '+ data.fileName.split('_')[2]}}
            </span>
        </button>
    </div>
</div>