#drag_zone{
    width:100%;
    min-height: 200px;
    margin: auto;
    padding: 8px;
    text-align: center;
    background-color: #f0f0f0;
    // border: 2px dashed gray;
    border-radius: 8px;
    color: black;
  }
  .pointCenter{
    padding: 70px 0;
    border: 3px dashed #f05b31;
    text-align: center;  
}
