<div class="row bg-w">
    <div class="col-sm-12 col-lg-12 col-md-12 col-xl-12 col-12">
        <div class="mtb-10">
            <div class="height-100">
                <div id="drag_zone" class="file-upload-wrapper" (drop)="dropFiles($event)"
                    (dragover)='dragOverHandler($event)'>
                    <div class="pointCenter">
                        <div class="card-drag">
                            <span class="header">
                                you can drag & drop your file here .. <br>
                                OR
                            </span>
                        </div>
                        <div>
                            <button type="button" color="primary" mat-raised-button (click)="fileInput2.click()">
                                Choose file
                            </button>
                            <input hidden type='file' (change)="onSelectFile($event)" multiple #fileInput2 id="file"
                                accept=".xls, .xlsx">
                        </div>
                    </div>
                </div>
                <div>
                    <mat-list>
                        <mat-list-item *ngFor="let file of this.selectedFiles"
                            [class.upload-sucess]="file.uploadCompleted">
                            <mat-icon mat-list-icon>note</mat-icon>
                            <div mat-line>{{file?.fileName}}</div>

                            <div>
                                <button mat-icon-button color="warn" (click)="deleteFile(file)">
                                    <mat-icon>delete_forever</mat-icon>
                                </button>
                            </div>
                            <mat-divider></mat-divider>
                        </mat-list-item>
                    </mat-list>
                    <div class="mb-10 text-right">
                        <button mat-raised-button color="primary" (click)="uploadFiles()" class="btn btn-primary mt-3"
                            [disabled]="this.selectedFiles.length <=0"> Upload
                            file
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>