// theme color variables
$primary: #10cfbd;
$primaryBg: white;
$tableHeadBg: #696A6D;
$tableColor: white;
$tableShadow: #f2f2f2;
$tableHeadColor: white;
$tableBorder: #ffffff;
$white: #ffffff;
$black: black;
$headerShadow: lightgray;
$inputBorder: gray;
$primaryOrange: orange;
$yellowInput: yellow;
$inputOne: red;
$inputTwo: black;
$inputThree: gray;
$delete: rgb(235, 97, 97);;
$scrollOrange: orange;
$uploadBg: white;
$actualgroup: #c55a10;
$budgetGroup: #0070c0;
$varianceGroup: #595959;
$historyGroup: #00b050;

// $themeColor: #ee6f25;
// $secondaryColor: #2595de;
// $tablePrimary: #2cc0ef;
// $whiteInsideTheme: #ffffff;
// $blackInsideTheme: #000000;
// $boxShadowColor: #00000029;
// $white: #ffffff;
// $black: #000000;
// $textColor: #858585;
// $borderColor: #e2e2e2;
// $tableBgBorder: #4a94ab;
// $sidebarActive: #efefef;
// $bgShade: #f0f0f0;
// $invalid: rgb(238, 124, 124);
// $scrollThumb: #aaaaaa;
// $scrollThumbHover: #7f7f7f;
// $edit: rgb(82, 130, 235);
// $delete: rgb(235, 97, 97);
// // table
// $tableHeadding: #e4eaec;
// $actualgroup: #c55a10;
// $budgetGroup: #0070c0;
// $varianceGroup: #595959;
// $historyGroup: #00b050;
// // mrf colors
// $mrfGroup1: #8d09f1;
// $mrfGroup2: #921aee;
// $mrfGroup3: #19b3e2;
// $mrfGroup4: #0d75d6;
// $mrfGroup5: #1043eb;
// $mrfGroup6: #0652e0;
// $mrfGroup7: #1b0ed4;
// $mrfGroup8: #090cb3;
// $mrfGroup9: #500ac0;
// $mrfGroup10: #2e057a;
// $mrfGroup11: #7208c4;
// $mrfGroup12: #290346;
// // template
// $templateHead: #bbb6b2;
// $labelColor: #4a4a4a;
// $formLabelColor: #646464;
// $placeholderColor: #f47d30;
// $syncHead: #676c6d;
// $syncBody: #343536;
// // variance value
// $critical: #cc5a5a;
// $moderate: #ccad51;
// $normal: #578737;

// // $- Direct $- //
// .text_color {
//   color: var($textColor);
// }
// .primary_text {
//   color: var($themeColor);
// }
// .color_black {
//   color: var($black);
// }
// .data_edit {
//   color: var($edit);
// }
// .data_delete {
//   color: var($delete);
// }

// // $- Direct $- //
