<ng-container *ngIf="loadingRouteConfig">
  <div class="loading-overlay is-active">
    <span class="signal"></span>
  </div>
</ng-container>
<mat-tab-group>
  <mat-tab label="Alloy Surcharge Wire">
    <mat-card>
      <!-- ========================file upload start here==========================  -->
      <div>
        <div class="row bg-w">
          <div class="col-sm-12 col-lg-12 col-md-12 col-xl-12 col-12">
            <div class="mtb-10">
              <div class="height-100">
                <div id="drag_zone" class="file-upload-wrapper" (drop)="dropFiles($event)"
                  (dragover)='dragOverHandler($event)'>
                  <div class="pointCenter">
                    <div class="card-drag">
                      <span class="header">
                        you can drag & drop your file here .. <br>
                        OR
                      </span>
                    </div>
                    <div>
                      <button type="button" color="primary" mat-raised-button [disabled]="selectedFiles.length>0"
                        (click)="fileInput2.click()">
                        Choose file
                      </button>
                      <input hidden type='file' (change)="onSelectFile($event)" #fileInput2 id="file"
                        accept=".xls, .xlsx">
                    </div>
                  </div>
                </div>
                <div>
                  <mat-list>
                    <mat-list-item *ngFor="let file of this.selectedFiles" [class.upload-sucess]="file.uploadCompleted">
                      <mat-icon mat-list-icon>note</mat-icon>
                      <div mat-line>{{file?.fileName}}</div>

                      <div>
                        <button mat-icon-button color="primary" (click)="uploadFiles()">
                          <mat-icon>upload</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="deleteFile(file)">
                          <mat-icon>delete_forever</mat-icon>
                        </button>
                      </div>
                      <mat-divider></mat-divider>
                    </mat-list-item>
                  </mat-list>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ========================file upload end ========================= -->
      <div class="row" *ngIf="alloy_surcharge_wire && (selectedFiles.length>0)">
        <div class="col-12">
          <div class="my_offer_table_container">
            <div class="text-center h-100">
              <div class="table-outer-container offer_table_container position-relative h-100">
                <div class="table-inner-container h-100">
                  <table mat-table [dataSource]="alloy_surcharge_wire" class="custom_table order_table">

                    <ng-container matColumnDef="VKORG">
                      <th mat-header-cell *matHeaderCellDef> VKORG
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element?.VKORG}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="COND_TYPE">
                      <th mat-header-cell *matHeaderCellDef> COND_TYPE
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element?.COND_TYPE}} </td>
                    </ng-container>


                    <!-- Weight Column -->
                    <ng-container matColumnDef="DST_CH">
                      <th mat-header-cell *matHeaderCellDef> DST_CH
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element?.DST_CH}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="DIV">
                      <th mat-header-cell *matHeaderCellDef> DIV
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element?.DIV}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Month_year">
                      <th mat-header-cell *matHeaderCellDef> Month_year

                      </th>
                      <td mat-cell *matCellDef="let element"> {{element?.Month_year | date:"MM-YYYY"}} </td>
                    </ng-container>


                    <ng-container matColumnDef="Amount">
                      <th mat-header-cell *matHeaderCellDef> Amount


                      </th>
                      <td mat-cell *matCellDef="let element"> {{element?.Amount }} </td>
                    </ng-container>


                    <ng-container matColumnDef="Customer_ID">
                      <th mat-header-cell *matHeaderCellDef> Customer_ID


                      </th>
                      <td mat-cell *matCellDef="let element"> {{element?.Customer_ID}} </td>
                    </ng-container>


                    <ng-container matColumnDef="Internal_Grade">
                      <th mat-header-cell *matHeaderCellDef> Internal_Grade


                      </th>
                      <td mat-cell *matCellDef="let element"> {{element?.Internal_Grade}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns_wire"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns_wire;"></tr>

                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </mat-tab>

  <!-- ************************************************************************************************************** -->

  <mat-tab label="Alloy Surcharge Billet">
    <mat-card>
      <div>
        <app-filter-options></app-filter-options>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="my_offer_table_container">
            <div class="text-center h-100">
              <div class="table-outer-container offer_table_container position-relative h-100">
                <div class="table-inner-container h-100">
                  <table mat-table [dataSource]="alloy_surcharge_billet" class="custom_table order_table">

                    <ng-container matColumnDef="VKORG">
                      <th mat-header-cell *matHeaderCellDef> VKORG
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element?.VKORG}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="COND_TYPE">
                      <th mat-header-cell *matHeaderCellDef> COND_TYPE
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element?.COND_TYPE}} </td>
                    </ng-container>


                    <!-- Weight Column -->
                    <ng-container matColumnDef="DST_CH">
                      <th mat-header-cell *matHeaderCellDef> DST_CH
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element?.DST_CH}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="DIV">
                      <th mat-header-cell *matHeaderCellDef> DIV
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element?.DIV}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Month_year">
                      <th mat-header-cell *matHeaderCellDef> Month_year

                      </th>
                      <td mat-cell *matCellDef="let element"> {{element?.Month_year | date:"MM-YYYY"}} </td>
                    </ng-container>



                    <ng-container matColumnDef="Amount">
                      <th mat-header-cell *matHeaderCellDef> Amount


                      </th>
                      <td mat-cell *matCellDef="let element"> {{element?.Amount }} </td>
                    </ng-container>


                    <ng-container matColumnDef="WARENEMPFAENGER_NR">
                      <th mat-header-cell *matHeaderCellDef> WARENEMPFAENGER_NR


                      </th>
                      <td mat-cell *matCellDef="let element"> {{element?.WARENEMPFAENGER_NR }} </td>
                    </ng-container>

                    <ng-container matColumnDef="Materialnr">
                      <th mat-header-cell *matHeaderCellDef> Materialnr


                      </th>
                      <td mat-cell *matCellDef="let element"> {{element?.Materialnr }} </td>
                    </ng-container>


                    <ng-container matColumnDef="dRUCKSPERRE">
                      <th mat-header-cell *matHeaderCellDef> dRUCKSPERRE


                      </th>
                      <td mat-cell *matCellDef="let element"> {{element?.dRUCKSPERRE }} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns_billet"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns_billet;"></tr>

                  </table>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </mat-card>
  </mat-tab>

  <mat-tab label="scrap Surcharge Billet">
    <mat-card>
      <div>
        <app-filter-options></app-filter-options>
      </div>
      <div class="row">
        <div class="col-12">

          <div class="my_offer_table_container">
            <div class="text-center h-100">
              <div class="table-outer-container offer_table_container position-relative h-100">
                <div class="table-inner-container h-100">
                  <table mat-table [dataSource]="scrap_surcharge_billet" class="custom_table order_table">

                    <ng-container matColumnDef="VKORG">
                      <th mat-header-cell *matHeaderCellDef> VKORG
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element?.VKORG}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="COND_TYPE">
                      <th mat-header-cell *matHeaderCellDef> COND_TYPE
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element?.COND_TYPE}} </td>
                    </ng-container>


                    <!-- Weight Column -->
                    <ng-container matColumnDef="DST_CH">
                      <th mat-header-cell *matHeaderCellDef> DST_CH
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element?.DST_CH}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="DIV">
                      <th mat-header-cell *matHeaderCellDef> DIV
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element?.DIV}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Month_year">
                      <th mat-header-cell *matHeaderCellDef> Month_year

                      </th>
                      <td mat-cell *matCellDef="let element"> {{element?.Month_year | date:"MM-YYYY"}} </td>
                    </ng-container>



                    <ng-container matColumnDef="Model">
                      <th mat-header-cell *matHeaderCellDef> Model


                      </th>
                      <td mat-cell *matCellDef="let element"> {{element?.Model}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Amount">
                      <th mat-header-cell *matHeaderCellDef> Amount
                      </th>
                      <td mat-cell *matCellDef="let element"> {{element?.Amount }} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns_scrap"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns_scrap;"></tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </mat-tab>
</mat-tab-group>