@import "../../../../assets/color.scss";
.no_data {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

a.offer_id_link {
    &:hover {
        color: $primary;
    }
    cursor: pointer;
    color: $primary;
}
 .mat-card {
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
}
